aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.8
aiohttp-retry==2.8.3
aiosignal==1.3.1
aiosqlite==0.20.0
altair==4.2.2
annotated-types==0.7.0
anyio==4.6.2.post1
apiclient==1.0.4
apify_client==1.8.1
apify_shared==1.2.1
appdirs==1.4.4
asgiref==3.8.1
asttokens==2.4.1
attrs==24.2.0
audio-recorder-streamlit==0.0.10
backoff==2.2.1
bcrypt==4.2.1
beautifulsoup4==4.12.3
blinker==1.9.0
build==1.2.2.post1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
chroma-hnswlib==0.7.6
chromadb==0.5.23
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
comtypes==1.4.8
Crawl4AI==0.4.0
cryptography==44.0.0
cssselect==1.2.0
dataclasses-json==0.6.7
debugpy==1.8.9
decorator==5.1.1
Deprecated==1.2.15
distro==1.9.0
dnspython==2.7.0
durationpy==0.9
elevenlabs==1.50.3
emoji==2.14.0
entrypoints==0.4
eval_type_backport==0.2.2
executing==2.1.0
fake-http-header==0.3.5
fastapi==0.115.6
fastembed==0.5.0
feedfinder2==0.0.4
feedparser==6.0.11
ffmpeg-downloader==0.3.0
filelock==3.16.1
filetype==1.2.0
firecrawl-py==1.6.3
Flask==3.1.0
Flask-Sockets==0.2.1
flatbuffers==24.3.25
frozenlist==1.5.0
fsspec==2024.10.0
gevent==24.11.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
gnews==0.3.9
google-api-core==2.23.0
google-api-python-client==2.154.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.66.0
gpt4all==2.8.2
greenlet==3.1.1
grpcio==1.68.1
gTTS==2.5.4
h11==0.14.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.26.5
humanfriendly==10.0
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.29.0
itsdangerous==2.2.0
jedi==0.19.2
jieba3k==0.35.1
Jinja2==3.1.4
jiter==0.7.1
joblib==1.4.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keyboard==0.13.5
kubernetes==31.0.0
langchain==0.3.9
langchain-chroma==0.1.4
langchain-community==0.3.8
langchain-core==0.3.21
langchain-experimental==0.3.3
langchain-openai==0.2.10
langchain-scrapegraph==1.2.0
langchain-text-splitters==0.3.2
langchainhub==0.1.21
langdetect==1.0.9
langgraph==0.2.53
langgraph-checkpoint==2.0.7
langgraph-checkpoint-sqlite==2.0.1
langgraph-sdk==0.1.40
langsmith==0.1.147
litellm==1.54.0
loguru==0.7.3
lxml==5.3.0
lxml_html_clean==0.4.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mmh3==4.1.0
mockito==1.5.3
monotonic==1.6
more-itertools==10.5.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
narwhals==1.20.1
nest-asyncio==1.6.0
networkx==3.4.2
newsapi-python==0.2.7
newspaper3k==0.2.8
nltk==3.9.1
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
onnx==1.17.0
onnxruntime==1.20.1
openai==1.57.0
opencv-python==4.10.0.84
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
orjson==3.10.12
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pillow==10.4.0
platformdirs==4.3.6
playsound @ git+https://github.com/taconi/playsound@92385c78ec05c2fc3afad1afc5edc9d1282aa1e5
playwright==1.49.0
pluggy==1.5.0
posthog==3.7.4
prompt_toolkit==3.0.48
propcache==0.2.0
proto-plus==1.25.0
protobuf==5.29.0
psutil==6.1.0
pure_eval==0.2.3
py_rust_stemmers==0.1.3
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
pydeck==0.9.1
pydub==0.25.1
pyee==11.1.1
Pygments==2.18.0
PyJWT==2.10.1
pyparsing==3.2.0
pypdf==5.1.0
PyPika==0.48.9
pypiwin32==223
pyppeteer==2.0.0
pyproject_hooks==1.2.0
pyreadline3==3.5.4
PySocks==1.7.1
pytest==8.3.4
pytest-mockito==0.0.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-ffmpeg==2.0.12
python-iso639==2024.10.22
python-magic==0.4.27
python-oxmsg==0.0.1
pyttsx3==2.98
pytube==15.0.0
pytz==2024.2
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
rank-bm25==0.2.2
RapidFuzz==3.11.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
scrapegraph_py==1.8.0
selenium==4.27.1
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sounddevice==0.5.1
soundfile==0.12.1
soupsieve==2.6
SpeechRecognition==3.13.0
SQLAlchemy==2.0.35
stack-data==0.6.3
starlette==0.41.3
streamlit==1.41.1
streamlit-float==0.3.5
streamlit_mic_recorder==0.0.8
sympy==1.13.1
tavily-python==0.5.0
tenacity==9.0.0
termcolor==2.5.0
tf-playwright-stealth==1.1.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tinysegmenter==0.3
tldextract==5.1.3
tokenizers==0.20.3
toml==0.10.2
toolz==1.0.0
torch==2.5.1
tornado==6.4.2
tqdm==4.67.0
traitlets==5.14.3
transformers==4.47.0
trio==0.27.0
trio-websocket==0.11.1
tweepy==4.14.0
twilio==9.4.1
typer==0.15.1
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
unstructured==0.16.11
unstructured-client==0.28.1
uritemplate==4.1.1
urllib3==1.26.20
uv==0.5.13
uvicorn==0.32.1
watchdog==6.0.0
watchfiles==1.0.3
wcwidth==0.2.13
webencodings==0.5.1
webrtcvad-wheels==2.0.14
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.1.3
whisper==1.1.10
win32_setctime==1.2.0
wrapt==1.17.0
wsproto==1.2.0
xxhash==3.5.0
yarl==1.18.0
yt-dlp==2024.11.18
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
